<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="font-18"><strong>First and Last Name</strong></p>
    <%= f.text_field :name %>
  </div>

  <div class="spacer-10"></div>

  <!-- <div class="field">
    <p class="font-18"><strong>Email</strong></p>
    <%#= f.text_field :email %>
  </div><br /> -->
  <div class="field">
    <p class="font-18"><strong>Date Completed</strong></p>
    <%= f.date_field :date_completed %>
  </div>
  
  <div class="spacer-10"></div>

  <div class="field">
    <p class="font-18"><strong>Who helped you complete your living will?</strong></p>
    <%= f.text_field :person_helping %>
  </div>
  <div class="spacer-10"></div>

  <div class="field">
    <p class="font-18"><strong>Do you have a MPOA? </strong></p>
    <%= f.radio_button :mpoa, 'yes' %>Yes<br>
    <%= f.radio_button :mpoa, 'no' %>No<br>
  </div>
  
  <div class="spacer-10"></div>

  <div class="field">
    <p class="font-18"><strong>Who is your MPOA?</strong></p>
    <%= f.text_field :mpoa_name %>
  </div>

  <div class="spacer-10"></div>

  <div class="field">
    <p class="font-18"><strong>I haven't named an MPOA but if I am hospitalized and require a health care surrogate this is who I would want as my surrogate. </strong></p>
    <%= f.text_field :surrogate %>
  </div>

<!--   <div class="field">
    <p class="font-18"><strong>Did you review this living will with your surrogate or your MPOA?</strong></p>
    <%#= f.radio_button :review_with_mpoa, 'yes' %>Yes<br>
    <%#= f.radio_button :review_with_mpoa, 'no' %>No<br>
  </div> -->

  <div class="spacer-10"></div>

  <div class="actions">
    <%= submit_tag "Next", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
