<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="centered"><h3><strong>Quality of Life</strong></h3></p>

  <p class="scenario-description"><strong>Why is this important?</strong>  It is not unusual for several years to have passed from the time a person filled out their living will and when it is first needed to help decide how to treat them medically.  Sometimes a person’s quality of life may have changed significantly over that time.  If their quality of life has gotten significantly worse they may now not want to be treated as aggressively as they indicated in their living will.</p>

  <p class="scenario-description">While a person should ideally complete a new living will any time their quality of life changes significantly most people forget to do so. If you have been hospitalized and your surrogate and doctors are using your living will to help determine what care you would want it could be helpful to them if they knew that your quality of life was now much worse than when you completed your living will.</p>

  <div class="field">
    <%= f.radio_button :quality_of_life, 'excellent' %><strong>Excellent:</strong>  I am able to fully care for myself and have no limitations on what I am able to do.<br><br>
    <%= f.radio_button :quality_of_life, 'good' %><strong>Good:</strong> I am able to fully care for myself and can do most things I would want to do.<br><br>
    <%= f.radio_button :quality_of_life, 'acceptable', :checked => true%><strong>Acceptable:</strong>  I need assistance with activities of daily living (bathing, dressing, using the toilet, etc.).  I am also limited in the things I can do but can still do things that are important to me.<br><br>
    <%= f.radio_button :quality_of_life, 'poor' %><strong>Poor:</strong>  I need assistance with most activities of daily living and I can do very few things that are important to me.<br><br>
    <%= f.radio_button :quality_of_life, 'unacceptable' %><strong>Unacceptable:</strong>  Most days I can’t do anything that is important to me or gives me joy.
  </div>
  <br />
  <div class="actions centered">
    <%= submit_tag "Continue", class: "btn btn-large btn-success" %>
  </div>

  <div class="spacer-20"></div>
<% end %>
