<%= form_for(@first_scenario) do |f| %>
  <% if @first_scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first_scenario.errors.count, "error") %> prohibited this first_scenario from being saved:</h2>

      <ul>
      <% @first_scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="centered">What are your wishes?</h1>

  <!-- <h3><strong></strong></h3> -->

  <p class="font-18">Read each scenario closely and decide what you would want done in that situation.  If you aren’t sure what you would want done for any of the scenarios below, simply indicate so.  Remember that no written document can cover every medical situation you might face in the future.</p>

  <div class="spacer-20"></div>

  <p><h3><strong>My overall health is good. I am able to care for myself or require minimal assistance at home (baths, cooking, etc.).</strong></h3></p>

  <p class="scenario_description">If I develop an acute medical illness that may be treated, and my doctors think I have a reasonable chance of surviving the illness and leaving the hospital, I wish the following: (Check any that apply:</p>

  <div class="field">
    <%= f.check_box :ami_cc_only %>Comfort Care Only <br>
  </div>
  <div class="field">
    <%= f.check_box :ami_cc_plus %> Comfort Care, to include intravenous fluids and tube feedings <br>
  </div>
  <div class="field">
    <%= f.check_box :ami_reg_med %>Regular Medical Care <br>
  </div>
  <div class="field">
    <%= f.check_box :ami_invasive %>Invasive procedures like surgery or heart catheterizations <br>
  </div>
  <div class="field">
    <%= f.check_box :ami_respirator %>Temporary support from a respirator <br>
  </div>

  <div class="field">
    <%= f.check_box :ami_dialysis %>Temporary dialysis support <br>
  </div>

  <div class="field">
    <%= f.check_box :ami_cpr %>CPR if my heart stops <br>
  </div>

  <div class="field">
    <%= f.check_box :not_sure %>I don't know.  I'll let my MPOA or surrogate decide at that time. <br>
  </div>

  <br>

  <p class="scenario_description">If I suffer some form of brain injury (stroke, bleeding, cardiac arrest, etc.) that makes it unlikely I’ll ever regain the ability to make decisions for myself, I wish the following: (Check any that apply):</p>

  <div class="field">
    <%= f.check_box :bi_cc_only %>Comfort care only <br>
  </div>

  <div class="field">
    <%= f.check_box :bi_cc_plus %>Comfort care, to include intravenous fluids and tube feedings <br>
  </div>

  <div class="field">
    <%= f.check_box :bi_reg_med %>Regular medical care <br>
  </div>

  <div class="field">
    <%= f.check_box :bi_invasive %>Invasive procedures like surgery or heart catheterizations <br>
  </div>

  <div class="field">
    <%= f.check_box :bi_respirator %>Temporary support from a respirator <br>
  </div>

  <div class="field">
    <%= f.check_box :bi_dialysis %>Temporary dialysis support <br>
  </div>

  <div class="field">
    <%= f.check_box :bi_cpr %>CPR if my heart stops <br>
  </div>

  <div class="field">
    <%= f.check_box :not_sure %>I don't know.  I'll let my MPOA or surrogate decide at that time. <br>
  </div>

  <br>

  <div class="actions centered">
    <%= f.submit 'Next', class: "btn btn-primary btn-large"%>
  </div>
<% end %>

<div class="spacer-20"></div>
