<p id="notice"><%= notice %></p>

<p>
  <strong>Ami cc only:</strong>
  <%= @first_scenario.ami_cc_only %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Ami cc plus:</strong>
  <%= @first_scenario.ami_cc_plus %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Ami reg med:</strong>
  <%= @first_scenario.ami_reg_med %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Ami invasive:</strong>
  <%= @first_scenario.ami_invasive %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Ami respirator:</strong>
  <%= @first_scenario.ami_respirator %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Ami dialysis:</strong>
  <%= @first_scenario.ami_dialysis %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Ami cpr:</strong>
  <%= @first_scenario.ami_cpr %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi cc only:</strong>
  <%= @first_scenario.bi_cc_only %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi cc plus:</strong>
  <%= @first_scenario.bi_cc_plus %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi reg med:</strong>
  <%= @first_scenario.bi_reg_med %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi invasive:</strong>
  <%= @first_scenario.bi_invasive %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi respirator:</strong>
  <%= @first_scenario.bi_respirator %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi dialysis:</strong>
  <%= @first_scenario.bi_dialysis %>
</p>

<p>
  <strong>String,:</strong>
  <%= @first_scenario.string, %>
</p>

<p>
  <strong>Bi cpr:</strong>
  <%= @first_scenario.bi_cpr %>
</p>

<p>
  <strong>String:</strong>
  <%= @first_scenario.string %>
</p>

<%= link_to 'Edit', edit_first_scenario_path(@first_scenario) %> |
<%= link_to 'Back', first_scenarios_path %>
