<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Do you have a MPOA? <br>
    <%= f.radio_button :mpoa, 'yes' %>Yes<br>
    <%= f.radio_button :mpoa, 'no' %>No<br>
  </div>
  
  <div class="spacer-10"></div>

  <div class="field">
    Who is your MPOA?
    <%= f.text_field :mpoa_name %>
  </div>

  <div class="spacer-10"></div>

  <div class="field">
    Did you review this living will with your MPOA?<br>
    <%= f.radio_button :review_with_mpoa, 'yes' %>Yes<br>
    <%= f.radio_button :review_with_mpoa, 'no' %>No<br>
  </div>

  <div class="spacer-10"></div>

  <div class="field">
    Do you have any other specific requests not listed above?  If so, please write them below. <br>
    <%= f.text_area :comments %>
  </div>
  <div class="spacer-10"></div>
  <div class="actions centered">
    <%= submit_tag "Continue", class: "btn btn-large btn-success" %>
  </div>

  <div class="spacer-20"></div>
<% end %>
