<p id="notice"><%= notice %></p>

<p>
  <strong>First scenario:</strong>
  <%= @result.first_scenario_id %>
</p>

<p>
  <strong>Second scenario:</strong>
  <%= @result.second_scenario_id %>
</p>

<p>
  <strong>Third scenario:</strong>
  <%= @result.third_scenario_id %>
</p>

<p>
  <strong>Fourth scenario:</strong>
  <%= @result.fourth_scenario_id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @result.user_id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
