<p id="notice"><%= notice %></p>

<p>
  <strong>First scenarios:</strong>
  <%= @result.first_scenarios_id %>
</p>

<p>
  <strong>Second scenarios:</strong>
  <%= @result.second_scenarios_id %>
</p>

<p>
  <strong>Third scenarios:</strong>
  <%= @result.third_scenarios_id %>
</p>

<p>
  <strong>Fourth scenarios:</strong>
  <%= @result.fourth_scenarios_id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
