<p id="notice"><%= notice %></p>

<p>
  <strong>Ami cc only:</strong>
  <%= @fourth_scenario.ami_cc_only %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Ami cc plus:</strong>
  <%= @fourth_scenario.ami_cc_plus %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Ami reg med:</strong>
  <%= @fourth_scenario.ami_reg_med %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Ami invasive:</strong>
  <%= @fourth_scenario.ami_invasive %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Ami respirator:</strong>
  <%= @fourth_scenario.ami_respirator %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Ami dialysis:</strong>
  <%= @fourth_scenario.ami_dialysis %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Ami cpr:</strong>
  <%= @fourth_scenario.ami_cpr %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi cc only:</strong>
  <%= @fourth_scenario.bi_cc_only %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi cc plus:</strong>
  <%= @fourth_scenario.bi_cc_plus %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi reg med:</strong>
  <%= @fourth_scenario.bi_reg_med %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi invasive:</strong>
  <%= @fourth_scenario.bi_invasive %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi respirator:</strong>
  <%= @fourth_scenario.bi_respirator %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi dialysis:</strong>
  <%= @fourth_scenario.bi_dialysis %>
</p>

<p>
  <strong>String,:</strong>
  <%= @fourth_scenario.string, %>
</p>

<p>
  <strong>Bi cpr:</strong>
  <%= @fourth_scenario.bi_cpr %>
</p>

<p>
  <strong>String:</strong>
  <%= @fourth_scenario.string %>
</p>

<%= link_to 'Edit', edit_fourth_scenario_path(@fourth_scenario) %> |
<%= link_to 'Back', fourth_scenarios_path %>
